/*==========HEADER SECTION==========*/
.header-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  box-shadow: 2px 7px 23px 0px rgba(0, 0, 0, 0.79);
}

.header-bg-dark {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}

.header-title h2 {
  color: white;
  font-size: 70px;
  padding-top: 53px;
  font-family: "Crimson Text";
}

.header-desc p {
  color: white;
  font-size: 20px;
}

@media (max-width: 991px) {
  .header-banner {
    height: 400px;
  }

  .header-bg-dark {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
  }

  .header-title h2 {
    font-size: 60px;
    padding-top: 40px;
  }

  .header-desc p {
    font-size: 16px;
    padding-top: 10px;
  }
}

@media (max-width: 768px) {
  .header-banner {
    height: 300px;
  }

  .header-title h2 {
    font-size: 50px;
    padding-top: 40px;
  }

  .header-desc p {
    font-size: 15px;
  }
}

@media (max-width: 575px) {
  .header-banner {
    height: 400px;
  }

  .header-title h2 {
    font-size: 42px;
    padding-top: 40px;
  }

  .header-desc p {
    font-size: 15px;
    padding-top: 10px;
  }
}
/*==========GALLERY SECTION==========*/
.gallery-scetion {
  display: none;
}

.gallery-images :hover {
  transition: 1s;
  transform: scale(1.1);
}

.marble-section {
  background-color: rgba(0, 0, 0, 0.1);
}

.section-header h3 {
  font-size: 60px;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}

.view-more-btn {
  text-decoration: none;
  border: 1px solid black;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.view-more :hover {
  transition: 0.4s;
  color: #525151;
  border-color: #525151;
}

/*==========ABOUT MARBLE SECTION==========*/
.about-material {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 700px;
  margin-bottom: 30px;
  box-shadow: 2px 7px 23px 0px rgba(0, 0, 0, 0.79);
}

.about-container {
  height: 100%;
}

.about-material .container {
  height: 100%;
}

.about-material-content {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
}

.about-material-header h3 {
  text-align: left;
  color: white;
  font-family: "Crimson Text";
  font-size: 57px;
  padding-top: 109px;
  padding-left: 21px;
}

.about-material-desc {
  padding: 60px 20px;
  text-align: left;
}

.about-material-desc p {
  color: white;
}

@media (max-width: 991px) {
  .about-material-header h3 {
    text-align: left;
    color: white;
    font-family: "Crimson Text";
    font-size: 40px;
    padding-top: 30px;
  }

  .about-material-desc p {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .about-material-desc {
    margin-top: -40px;
  }
  .about-material-desc p {
    font-size: 15px;
  }

  .about-material-content-desc :nth-child(2) .about-material-desc {
    margin-top: -113px;
  }
}

@media (max-width: 575px) {
  .gallery-images :nth-child(1) {
    padding-top: 0;
  }

  .about-material {
    height: 600px;
    margin-bottom: 30px;
  }

  .about-material-header h3 {
    text-align: left;
    color: white;
    font-family: "Crimson Text";
    font-size: 30px;
    padding-top: 20px;
  }

  .about-material-desc p {
    font-size: 12px;
  }
}

/*==========MATERIAL PRICE SECTION==========*/
@media (max-width: 991px) {
  .section-header h3 {
    font-size: 45px;
  }

  .section-content {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .section-header h3 {
    font-size: 40px;
  }

  .section-content {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .section-header h3 {
    padding-bottom: 25px;
    font-size: 30px;
  }

  .section-content {
    font-size: 10px;
  }
}
/*==========INSTAGRAM SECTION==========*/
.insta-header h1 {
  text-align: center;
  font-family: "Crimson Text";
}

.insta-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  margin: 10px 0;
}

.insta-card :hover {
  transition: 1s;
  transform: scale(1.03);
  opacity: 0.9;
}

.insta-card img {
  position: relative;
}

.insta-card i {
  font-size: 36px;
  color: white;
  position: absolute;
  z-index: 1;
  margin-left: -43px;
  margin-top: 17px;
}

.gallery-container {
  justify-content: center;
  margin: 40px 0;
}

.gallery-images {
  width: 100%;
  height: 300px;
}

.gallery-data {
  margin: 0 20px;
}

.image-size-gallery {
  height: 300px;
  width: 320px;
}

@media (max-width: 1024px) {
  .gallery-images {
    width: 300px;
    height: 300px;
  }

  .image-size-gallery {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 991px) {
  .gallery-images {
    width: 240px;
    height: 240px;
  }

  .image-size-gallery {
    height: 240px;
    width: 240px;
  }
}

@media (max-width: 808px) {
  .gallery-images {
    width: 200px;
    height: 200px;
  }

  .image-size-gallery {
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 766px) {
  .gallery-container {
    justify-content: center;
    margin: 20px 0;
  }

  .gallery-images {
    width: 320px;
    height: 300px;
  }

  .gallery-data {
    margin: 20px 0;
  }

  .image-size-gallery {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .gallery-images :hover {
    transform: none;
  }

  .gallery-container {
    justify-content: center;
    margin: 20px 0;
  }

  .gallery-images {
    width: 100%;
    height: 300px;
  }

  .gallery-data {
    margin: 25px 13px;
  }

  .image-size-gallery {
    height: 100%;
    width: 100%;
  }
}
